<div class="outer">
    <div class="first">
        <p class="head">
            <b>So What are you waiting for ?</b>
        </p>
        <p class="desc">
            Lorem ipsum dolor sit amet, consectetur adi
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
        <div class="input-section">
            <input class="inp" placeholder="Email">&nbsp;&nbsp;&nbsp;
            <button mat-raised-button class="submit">SUBMIT</button>
        </div>
    </div>
    <div class="second">
        <div class="data-footer">
            <img class="footer-logo" src="assets/logo.png"><br>
            <p class="logo-desc">2018 dbies All rights reserved</p>

        </div>
        <div class="data-footer1">
            <p class="footer-head"><b>SERVICES</b></p>
            <p class="footer-detail">Technical Security</p>
            <p class="footer-detail">Data Security</p>
            <p class="footer-detail">Internet Security</p>
            <p class="footer-detail">Information Security</p>
            <p class="footer-detail">Identity Theft Protection</p>
        </div>

        <div class="data-footer1">
            <p class="footer-head"><b>PRODUCTS</b></p>
            <p class="footer-detail">Broadband Wireless router</p>
            <p class="footer-detail">USB Personal Firewall </p>
            <p class="footer-detail">Mobile Firewall </p>
          
        </div>

        <div class="data-footer1">
            <p class="footer-head"><b>CONTACT</b></p>
            <p class="footer-detail">Technical Security</p>
            <p class="footer-detail">Data Security</p>
            <p class="footer-detail">Internet Security</p>
            <p class="footer-detail">Information Security</p>
            <p class="footer-detail">Identity Theft Protection</p>
        </div>

        <div class="data-footer1">
            <p class="footer-head"><b>SOCIAL</b></p>
            <p class="footer-detail">Facebook</p>
            <p class="footer-detail">Linked In</p>
            <p class="footer-detail">Twitter</p>
            <p class="footer-detail">Google Plus</p>
     
        </div>
    </div>
</div>