<div class="outer">
    <div class="head">
        <p class="main-head">
            <b>Products For You</b>
        </p>
        <p class="sub-head">
            <b>GET THE BEST PRODUCT YOU CANT FIND ANYWHERE</b>
        </p>
        <p class="desc">
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        </p>
    </div>
    <div class="data">
        <mat-card>
            <div class="card-detail">
                <img src="assets/office-broadband.png" class="card-img"><br>
                <p class="card-head"><b>Home/Office Broadband with Wirelessrouter IPS</b></p>
                <p class="card-sub">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                 incididunt ut labore et dolore magna aliqua
                </p><br>
                <button class="detail">VIEW DETAILS</button>
            </div>
        </mat-card>
        <mat-card>
            <div class="card-detail">
                <img src="assets/personal-firewall.png" class="card-img"><br>
                <p class="card-head"><b>USB Personal Firewall</b></p>
                <p class="card-sub">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                 incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </p><br>
                <button class="detail">VIEW DETAILS</button>
            </div>
        </mat-card>
        <mat-card>
            <div class="card-detail">
                <img src="assets/mobile-firewall.png" class="card-img"><br>
                <p class="card-head"><b>Mobile firewall with Battery Case</b></p>
                <p class="card-sub">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                 incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </p><br>
                <button class="detail">VIEW DETAILS</button>
            </div>
        </mat-card>
    </div>
</div>