<div class="outer">
    <div class="nav-bar">
        <img class="nav-logo"src="assets/Logo_white.png">
        <div class="nav-items">
            <a>HOME</a>
            <a>ABOUT</a>
            <a>FEATURE</a>
            <a>PRODUCTS</a>
            <a>IT SECURITY</a>
            <a>CONTACT</a>
        </div>
    </div>
    <div >
        <div class="first-section">
        <div class="first-left">
            <p class="left-header"><b>Designed by <br><br>Indian Engineers</b></p><br><br>
            <p class="left-sub-head">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                   ut aliquip ex ea commodo consequat.</p>
            <div class="btn-first">
                <button class="detail-btn">VIEW PRODUCTS</button>
            </div>
        </div>
        <div class="first-right">
            <img class="first-image" src="assets/banner_illustration.png">
        </div>
        </div>
        <img class="mouse" src="assets/mouse.png">
    </div>
 
    <div class="second-section">
        <div class="head">
            <img src="assets/key feature bg.png" class="shadow-second">
            <p class="head-second"><b>Key features</b></p>
        </div>
        <div class="second-data">
            <mat-card>
           <div class="card-detail">
               <img src="assets/technical security.png" class="card-img"><br>
               <p class="card-head"><b>Technical Security</b></p>
               <p class="card-sub">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
               </p>
           </div>
            </mat-card>
            <mat-card>
                <div class="card-detail">
                    <img src="assets/data security.png" class="card-img"><br>
                    <p class="card-head"><b>Data Security</b></p>
                    <p class="card-sub">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                     incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                </div>
                 </mat-card>

                 <mat-card>
                    <div class="card-detail">
                        <img src="assets/identity theft.png" class="card-img"><br>
                        <p class="card-head"><b>Identity Theft Prevention</b></p>
                        <p class="card-sub">
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                         incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                        </p>
                    </div>
                     </mat-card>
          
        </div>
        <div class="arrows">
            <img src="assets/previous.png">&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="assets/next.png">
        </div>
    </div>
</div>
    <app-security></app-security>
    <app-product></app-product>
    <app-footer></app-footer>
    
